.leftsidenavbar{
    border: 2px solid #d7d7d7;
     width: 50px;     
     width: 500px;
     height: 100vh;
     overflow-x: hidden;
     overflow-y: auto;
     text-align:justify;
}

 
.pokemonlogo{
    padding: 20px; 
    width: 180px;
    height: 100px;
    text-align: center;
    background-color: #ffdc55;
}

ul > li{
    text-decoration: none;
    list-style: none;
    text-align: center;
}

ul li a {
    text-decoration: none;
}

ul li  {
    border-top: 2px solid #d7d7d7;
    width: 100%;
}

.rightsideimage{
   width: 350px;
   height: 350px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 40%;
   border-radius: 10px;

}